<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.happyhouse.mapper.MemberMapper">

	<select id="selectAll" resultType="Member">
		SELECT * FROM member
	</select>
	
	<select id="login" parameterType="java.lang.String" resultType="Member">
		SELECT * FROM member WHERE memberID = #{ID} AND memberPW = #{PW}
	</select>

	<insert id="signin" parameterType="Member">
		INSERT INTO member VALUES (#{memberID}, #{memberPW}, #{memberNAME}, #{memberTEL}, #{memberADDR})
	</insert>

	<update id="memberUpdate" parameterType="Member">
		UPDATE member SET memberPW = #{memberPW}, memberNAME = #{memberNAME}, memberTEL = #{memberTEL}, memberADDR = #{memberADDR} WHERE memberID = #{memberID}
	</update>

	<delete id="delete" parameterType="string">
		DELETE FROM member WHERE memberID = #{ID} AND memberPW = #{PW}
	</delete>

</mapper>